.registerContainer{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #393E46;
}

.registerData{
    width: 50%;
    height: 100%;
}

.registerOptions{
    display: flex;
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: space-around;
}


.registerOptions span{
    width: 50%;
    text-align: center;
    padding: 0.65rem 0;
    cursor: pointer;
    border: 1px solid #F7F7F7;
}

.registerSelectOption{
    background-color: #F2E7D5;
    color: #000000;
}

.wait{
    color: #F7F7F7;
}
.wait:hover{
    background-color: #F7F7F7;
    color: #000000;

}

.registerRowForm{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 2rem 0;
}

.registerInput{
    padding: 1rem;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
    border: 1px solid gray;
    width: 300px;
}
.registerInput:focus{
    box-shadow: 0px 0px 5px 3px #6D9886;
}


.btnsregisterlogin{
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 50%;
    margin-top: 5rem;
    bottom: 5rem;
    
}

.btnsregisterlogin span{
    cursor: pointer;
    background-color: #6D9886;
    padding: 1.2rem 0;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    color: #F7F7F7;
}













/*BANNER*/
.registerbanner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.registerCard{
    width: 60%;
    height: 70%;
    background-color: black;
    border-radius: 30px;
    border: 7px solid #F2E7D5;
}

.registerBanner{
    width: 100%;
    background-color: #EFF5F5;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 30%;
    display: flex;
    position: relative;
}
.registerbannerimgs{
    position: relative;
}
.registerIcon{
    width: 100px;
    height: 100px;
    background-color: #EFF5F5;
    position: absolute;
    border-radius: 100%;
    bottom: -50px;
    left: 50px;
    border: 1px solid black;
}

.registerbannerbody{
    height: 49%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 20px;
    color: #eeeeeeee;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-left: 2rem;
    flex-direction: column;
}

.registerIcons{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items:center;
}

.cardIcons{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    background-color: gray;
}
.registerBannerProfile{
    width: 60%;
    height: 80px;
    object-fit: cover;
}

.registerIconProfile{
    height: 80px;
}

.registerCarouselIcon{
    width: 80%;
    height: 150px;
    display: flex;
    overflow-x:scroll ;
    justify-content: space-between;
}

.registerCarouselIcon::-webkit-scrollbar{
    height: 8px;
}

.registerCarouselIcon::-webkit-scrollbar-thumb{
    background-color: #000000   ;
    margin-top: 10px;
}



.registerCarouselBanner{
    width: 80%;
    height: 150px;
    display: flex;
    overflow-x:scroll ;
    justify-content: space-between;
}

.registerCarouselBanner::-webkit-scrollbar{
    height: 8px;
}

.registerCarouselBanner::-webkit-scrollbar-thumb{
    background-color: #000000   ;
    margin-top: 10px;
}

.iconimg{
    cursor: pointer;
}