.containerNavbar{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

.bodyNavbar{
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    position: relative;
}



.optionsbanner{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    height: 100%;
}

.optionsbanner span:first-child{
    transform: translateY(-600px);
    animation-name: bodyNavbar;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

.optionsbanner span:nth-child(2){
    transform: translateY(-600px);
    animation-name: bodyNavbar;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.optionsbanner span:last-child{
    transform: translateY(-600px);
    animation-name: bodyNavbar;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

.optionsbanner span{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.optionsbanner span:hover{
    background-color: #FFFFFF;
    color: #000000;
    font-size: 18px;
}
.imageBodyNavbar{
    width: 200px;
    height: 70px;
    transform: translateY(-600px);
    animation-name: bodyNavbar;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    cursor: pointer;
}




.movileMenuTogle{
    display: none;
}

@keyframes bodyNavbar {
    0%{
        transform: translateY(-600px);
    }
    100%{
        transform: translateY(0px);
    }
}

.actionsNavbar{
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;

}

.userCircle{
    width: 45px;
    height: 45px;
    position: relative;

}

.userCircle img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/*USER OPTIONS*/
.userOptions-Background{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
}



.userOptions-visibility-false{
    display: none;
}

.userOptions-cardModal{
    position: absolute;
    width: 300px;
    height: 500px;
    right: 0;
    z-index: 102;
    opacity: 0;
    animation: userOptions-cardModal;
    animation-timing-function: ease-in-out;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.userOptions-cardModal-Body{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: #F1F6F5;
    border-radius: 20px;
    box-shadow: 5px 10px 10px gray;

}

.cardModal-ImagesUser{
    width: 100%;
    height: 30%;
}

.cardModal-ImagesUser-Banner{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.cardModal-ImagesUser-Banner >img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #000000;
    opacity: 0.5;
    object-fit: cover;
}

.cardModal-ImagesUser-Icon{
    position: absolute;
    bottom: -40px;
    width:100px ;
    height:100px ;

}

.cardModal-Username{
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem 0;
    position: relative;
}

.cardModal-Username span{
    font-size: 15px;
    font-weight: bold;
    color: #472183;
}

.cardModal-Username::after{
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: #000000;
    bottom: -10px;
}

.Actions-cardModal-Loged{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

.Actions-cardModal-Loged >div{
    background-color: #472183;
    width:70%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 5px 5px 10px gray;
    border: none;
    border-radius: 5px;
    color: #F1F6F5;
    transition: 0.25s all ease-in-out;
}

.Actions-cardModal-Loged >div:hover{
    background-color: #82C3EC;
    color: #000000;
    font-weight: bold;
    text-align-last: justify;
}

.Actions-cardModal-Loged-closed{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Actions-cardModal-Loged-closed >div{
    background-color: #472183;
    width: 30%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #F1F6F5;
    transition: 0.5s all ease-in-out;
}

.Actions-cardModal-Loged-closed >div:hover{
    width: 70%;
    background-color: #82C3EC;
    color: #000000;
    font-weight: bold;
    border-radius: 10px;
}

@keyframes userOptions-cardModal {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media(max-width:900px){


    .imageBodyNavbar{
        display: none;
    }

    .optionsbanner{
        position: fixed;
        display: flex;
        width: 100vw;
        height: 300px;
        top: 100px;
        flex-direction: column;
        justify-content: center;
    }

    .optionsbanner span{
        display: flex;
        height: 50px;
        width: 100%;
    }

    .movileMenuTogle{
        display: inline;
    }

    .bodyNavbar{
        position: fixed;
        top: 100px;
        width: 100%;
        height: 100vh;
        left: 0;
        transition: 1s all ease-in-out;
        background-color: #000000;

    }

    .optionsMenuMovile{
        width: 90vw;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .visible-true{
        transform: translateX(0px);
        transition: 0.5s all ease-in-out;

    }

    .visible-false{
        transform: translateX(-1500px);
        transition: 0.5s all ease-in-out;

    }

    .containerNavbar{
        position: fixed;
        z-index: 99;
    }
}
