.containerNavbar{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
}

.bodyNavbar{
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    
}



.optionsbanner{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    height: 100%;
}

.optionsbanner span:first-child{
    transform: translateY(-600px);
    animation-name: bodyNavbar;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

.optionsbanner span:nth-child(2){
    transform: translateY(-600px);
    animation-name: bodyNavbar;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.optionsbanner span:last-child{
    transform: translateY(-600px);
    animation-name: bodyNavbar;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

.optionsbanner span{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.optionsbanner span:hover{
    background-color: #FFFFFF;
    color: #000000;
    font-size: 18px;
}
.imageBodyNavbar{
    width: 200px;
    height: 70px;
    transform: translateY(-600px);
    animation-name: bodyNavbar;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}




.movileMenuTogle{
    display: none;
}

@keyframes bodyNavbar {
    0%{
        transform: translateY(-600px);
    }
    100%{
        transform: translateY(0px);
    }
}

.actionsNavbar{
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;

}

.userCircle{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    cursor: pointer;
    background-image: url('https://i.pinimg.com/736x/6d/96/7b/6d967b7a967812eca7323ecbc50994ba.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}


@media(max-width:900px){


    .imageBodyNavbar{
        display: none;
    }

    .optionsbanner{
        position: fixed;
        display: flex;
        width: 100vw;
        height: 300px;
        top: 100px;
        flex-direction: column;
        justify-content: center;
    }

    .optionsbanner span{
        display: flex;
        height: 50px;
        width: 100%;
    }

    .movileMenuTogle{
        display: inline;
    }

    .bodyNavbar{
        position: fixed;
        top: 100px;
        width: 100%;
        height: 100vh;
        left: 0;
        transition: 1s all ease-in-out;
        background-color: #000000;

    }

    .optionsMenuMovile{
        width: 90vw;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .visible-true{
        transform: translateX(0px);
        transition: 0.5s all ease-in-out;

    }

    .visible-false{
        transform: translateX(-1500px);
        transition: 0.5s all ease-in-out;

    }

    .containerNavbar{
        position: fixed;
        z-index: 2;
    }
}
